
@import 'styles/_colors.scss';

#notebook {
  z-index: 999;
  position: absolute;
  top: 0;
  right: -384px;
  width: 383px;
  height: 100vh;
  border-left: 1px solid $navy1;
  background: white;
  //transition: all .3s;

  &.expanded {
    right: 0;
  }

  &.open:before {
    content: '';
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
  }

  #notebook-head {
    padding: 28px 67px 28px;
    background: $navy1;
    background: linear-gradient(180deg, $navy1 0, $navy2 100%);

    .notebook-icon {
      position: absolute;
      top: -2px;
      left: -48px;
      width: 96px;
      height: 100px;
      filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25));
      -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25));
    }

    #notebook-title {
      margin: 0;
      color: $navy6;
      line-height: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 16px;
      font-weight: lighter;
    }
    #notebook-sub-title {
      margin: 0;
      color: white;
      line-height: 14px;
      font-weight: lighter;
      letter-spacing: 1px;
      margin-top: 5px;
    }
  }

  .notebook-body {
    height: calc(100% - 98px);
    padding: 2px 0 0 0;
    background: white;
    box-shadow: -8px 0 8px 0 rgba(0, 0, 0, 0.25);
  }
}
